@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
:root {
    /* polices */
    --polices-titres: 'Cormorant Garamond', serif;
    --polices-textes-lien-bouton-logo: 'Montserrat', sans-serif;

    /* couleurs */
    --blanc-craie: #F5F5F5;
    --noire-carbone: #1A1A1A;
    --or-antique: #C1A279;
    --gris: #888888;
    --sable-chaud: #A18A75;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--polices-textes-lien-bouton-logo);
}

/* Logo */
.logo-voyages {
    color: var(--noire-carbone);
    text-decoration: none;
}
.logo-resto {
    color: var(--blanc-craie);
    text-decoration: none;
}
.logo-principale {
    display: block;
    font-family: var(--polices-textes);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1.5px;
}
.logo-title {
    display: block;
    font-family: var(--polices-titres);
    font-size: 1.1rem;
    font-weight: 400;
    font-style: italic;
    margin-top: 1px;
    text-align: center;
}

/* Boutons */
.btn-header {
    font-family: var(--polices-textes-lien-bouton-logo);
    color: var(--blanc-craie);
    border: solid 2px var(--blanc-craie);
    transition: all 0.4s ease;
}
.btn-header:hover {
    border: solid 2px var(--or-antique);
    color: var(--or-antique);
}
.btn-principale-resto {
    text-decoration: none;
    border: solid 2px var(--or-antique);
    background-color: var(--or-antique);
    color: var(--noire-carbone);
    font-weight: 600;
    transition: all 0.4s ease;
}
.btn-principale-resto:hover {
    border-color: var(--or-antique);
    background-color: var(--noire-carbone);
    color: var(--or-antique);
    transform: scale(1.05);
}
.btn-principale-voyages {
    text-decoration: none;
    border: solid 5px var(--or-antique);
    background-color: var(--or-antique);
    color: var(--blanc-craie);
    font-weight: 600;
    transition: all 0.4s ease;
}
.btn-principale-voyages:hover {
    border-color: var(--or-antique);
    background-color: var(--blanc-craie);
    color: var(--or-antique);
    transform: scale(1.05);
}

/* Titres */
.titre-principale, .titre-secondaire, .titre-tertiaire{
    font-family: var(--polices-titres);
}
.titre-principale, .titre-secondaire {
    font-weight: 700;
}
.titre-principale {
    font-size: 4rem;
}
.titre-secondaire {
    font-size: 2.25rem;
}
.titre-tertiaire {
    font-weight: 500; 
    font-size: 1.5rem;
}